<a href="https://colab.research.google.com/github/NatVes/Python_Projects/blob/main/Python_d2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
password = 1234
user_entry = int(input("Enter Password: "))

print(f"Entered password is {user_entry}")
print(f"This is {password == user_entry}.")

In [ ]:
myname = "Monty Python"
guess = input("Guess my name: ")
print(f"Your guess is {guess}.")
print(f"Your guess is {guess != myname}")

In [ ]:
n = int(input("Enter a number: "))
print(f"Your gess is greater than or equal to 100 - {n>=100}")
print(f"Your gess is less than 100 - {n<100}")

In [ ]:
if 25>10:
  print("true")

In [ ]:
password = 1234
user_entry = int(input("Enter Password: "))

if password == user_entry:
  print("Password is correct. Entry granted.")

In [ ]:
password = 1234
user_entry = int(input("Enter Password: "))

if password == user_entry:
  print("Password is correct. Entry granted.")

else:
  print("Password is incorrect. Entry denied.")

In [ ]:
user_entry = int(input("Enter a number: "))

if user_entry > 100:
  print(f"{user_entry} is greater than 100.")

elif user_entry < 100:
  print(f"{user_entry} is less than 100.")

else:
  print(f"{user_entry} is equal to 100.")

In [ ]:
print("This is mark-grade converter.")

mark = int(input("Enter your mark: "))
if mark>90:
  print("Your grade is A.")

elif mark>85:
  print("Your grade is B.")

elif mark>75:
  print("Your grade is C.")

elif mark>60:
  print("Your grade is D.")

elif mark>50:
  print("Your grade is E.")

else:
  print("Your grade is F.")

In [ ]:
# We can also use if contonps statments to find multiples of a number
# Is 1254786223635 divisible by 7?
# If any number is divisible of 7, you will have no remainder.
# Remainder = Modulus %

if 1254786223635 % 7 == 0:
  print("This number is divisible by 7.")
  print("This number is multiple of 7.")

In [ ]:
n = float(input('enter number'))
if n > 0:
  print(f'number {n} is positive')
elif n < 0:
  print(f'number {n} in negative')
else:
  print(f'number {n} is 0')

In [ ]:
n = float(input('enter number'))
if n%2 == 0:
  print(f'number {n} is even')
else:
  print(f'number {n} is odd')

In [ ]:
n = float(input('enter number'))
if n%3 == 0:
  print(f'number {n} is multiple of 3')
else:
  print(f'number {n} is not multiple of 3')

In [ ]:
n = float(input('enter number'))
if n%3 == 0 and n%5 == 0:
  print(f'number {n} is multiple of 3 and 5')
else:
  print(f'number {n} is not multiple of 3 and 5')

In [ ]:
password = 123
user_entry = int(input("Enter Password: "))

while password != user_entry:
  print("Password is incorrect. Entry denied.")
  user_entry = int(input("Enter Password: "))

In [ ]:
password = 123
user_entry = int(input("Enter Password: "))

while password != user_entry:
  print("Password is incorrect. Entry denied.")
  user_entry = int(input("Enter Password: "))
  if password == user_entry:
    print("Password is correct. Entry granted.")
    break

In [ ]:
password = 123
user_entry = int(input("Enter Password: "))

attemps = 1 #setting counter

while password != user_entry:
  print("Password is incorrect. Entry denied.")
  user_entry = int(input("Enter Password: "))

  attemps += 1
  if attemps > 2:
    break
if password == user_entry:
  print("Password is correct. Entry granted.")
else:
  print("Your account has been locked.")

In [ ]:
secret_number = 8
tries_left = 3

while tries_left > 0:
    guess = int(input("Guess the secret number (1-10): "))

    if guess == secret_number:
        print("ðŸŽ‰ Correct! You win!")
        break

    elif guess < secret_number:
        print("Too low.")

    else:
        print("Too high.")

    tries_left -= 1 #add attemp
    print(f"Tries left: {tries_left}")

if tries_left == 0:
    print("ðŸ˜¢ Game over. The correct number was", secret_number)

In [ ]:
name = "Yusuf"
for i in name:
  print(i)

In [ ]:
mylist = ["Honda", "Audi", "Vauxhall", "Ford"] # list object
for i in mylist:
  print(i*2)

In [ ]:
for i in range(1, 5):
  print(i)

In [ ]:
for i in range(1, 15, 3):
  print(i)

In [ ]:
for i in range(1, 51):
  print(i)

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(len(mylist))

3

In [ ]:
mylist = ["apple", 1, True, 3.14]
print(len(mylist))
print(mylist[3])

4
3.14

In [ ]:
mylist = ["apple", 1, True, 3.14]
print(mylist[0:3])

['apple', 1, True]

In [ ]:
mylist = ["apple", 1, True, 3.14]
mylist[1] = "watermelon"
print(mylist)

mylist.append("orange")
print(mylist)

mylist.insert(1, "kiwi")
print(mylist)

mylist.reverse()
print(mylist)

['apple', 'watermelon', True, 3.14]
['apple', 'watermelon', True, 3.14, 'orange']
['apple', 'kiwi', 'watermelon', True, 3.14, 'orange']
['orange', 3.14, True, 'watermelon', 'kiwi', 'apple']

In [ ]:
mytuple = ('apple', 'banana', True, 3.14)

print(mytuple[2])

True

In [ ]:
myset = {"a", "b", "c", 1, 2, 3, "a", "b", "c"}
print(myset)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
mydict = { "brand": "Ford",
          "model": "Mustang",
           "year": 1964,
           "year": 1967}
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1967}